* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('img/bgimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lora', serif;
  height: 100vh;
  text-align: center;
}

label {
  display: block;
  margin: 10px auto;
}

form label {
  display: inline;
}
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  text-shadow: 2px 2px #555;
}

strong {
  color: yellow;
}

section {
  background-color: rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 5px auto;
  color: #fff;
  clear: right;
}

section h2 {
  color: #fff;
}

.error {
  color: red;
}

input {
  text-align: center;
}

.next {
  background-color: white;
  color: green;
  border: 3px dotted;
  width: 10%;
  float: right;
  margin: 5px 10px;
}
